VITE_SUPABASE_URL=https://yhkslqqcyusagandctdy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inloa3NscXFjeXVzYWdhbmRjdGR5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MDA1NTUsImV4cCI6MjA5NTI3NjU1NX0.DuvLRmGyWyLfQ2yJi0F0Xl3G-JGtdyiaMM_9O08OyoQ
